:root {
  --f2f2f2-line-color: rgba(242, 242, 242, 1);
  --grey: rgba(85, 85, 85, 1);
  --grey-icon-color: rgba(153, 153, 153, 1);
  --logo-color: rgba(40, 142, 252, 1);
  --primary-color: rgba(10, 29, 51, 1);
  --x777-body-text: rgba(119, 119, 119, 1);
}
